/* @media only screen and (min-width:1100px){
    .col-1{width:8.33%;}
    .col-2{width:16.66%;}
    .col-3{width:25%;}
    .col-4{width:33.33%;}
    .col-5{width:41.66%;}
    .col-6{width:50%;}
    .col-7{width:58.33%;}
    .col-8{width:66.66%;}
    .col-9{width:75%;}
    .col-10{width:83.33%;}
    .col-11{width:91.66%;}
    .col-12{width:100%;}
} */
/* body {
    display: flex; 
    background:linear-gradient(green,yellow,maroon);
  }
  
 /* Для мобильных устройств */
  /* @media (max-width: 767px) {
    body {
      flex-direction: column;
    }
  } */
  
  /* Для ПК устройств */
  /* @media (min-width: 768px) {
    body {
      flex-direction: row;
    }
  } */

body{
    background:linear-gradient(green,yellow,maroon);
}
.forma{
    background:radial-gradient(red 30%,orange);
}
.first_line{
background: repeating-radial-gradient(#e66465, #9198e5 35%);
}
.photo3{
    transform: skew(30deg, 20deg);  
}
video{
    transform: scale(3, 0.75); 
}
audio{
    transform: translate(75px, -70%);
}
iframe{
    transition:  transform 2s ease 2s;
}
iframe:hover{
    transform: rotate(180deg);
}
.photo2{
  transition: transform 2.5s ease 2s;
}
.photo2:hover{ 
    transform: scale(3,3);
  }
  .form_conteiner {
    background: conic-gradient(from 20deg at 70% 30%, rgb(40, 89, 150), rgb(208, 195, 217));
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    border-radius: 10px;
    transform: rotate(15deg) scale(0.9) translate(25px, 20px);
  }
  #div1 {
    width: 100px;
    height: 100px;
    background: rgb(99, 67, 10);
    transition: width 2s,height 2s;
    transition-timing-function: linear;}
    #div1:hover{
        width: 300px;
        height:200px;
    }
  #div2 {width: 100px;
    height: 100px;
    background: rgb(93, 11, 113);
    transition: width 2s,background-color 2s 1s;
    transition-timing-function: ease;}
    #div2:hover{
      width: 300px;
      background:rgb(7, 36, 63);
  }
  #div3 {width: 100px;
    height: 100px;
    background: rgb(229, 131, 190);
    transition: width 2s,background-color 2s 0.2s;
    transition-timing-function: ease-in;}
    #div3:hover{
      width: 300px;
      background:rgb(71, 4, 42);
  }
  #div4 {width: 100px;
    height: 100px;
    background: rgb(69, 104, 233);
    border:5px solid;
    transition: width 2s,border 2s 0.5s;
    transition-timing-function: ease-out;}
    #div4:hover{
      width: 300px;
      border:5px outset green;
  }
  #div5 {width: 100px;
    height: 100px;
    background: rgb(245, 197, 143);
    transition: width 2s,border 2s;
    border-radius: 0%;
    transition-timing-function: ease-in-out;}
    #div5:hover{
      width: 300px;
      border-radius:30%;
  }

#anim1-container{
    width:300px;
    height:300px;
}
#anim1{
    width:50px;
    height:50px;
    background-color: coral;
    border-radius: 50%;
    position:relative;
    animation: size 5s alternate 3 ease 1.5s, photo_changer 5s alternate 3 ease 1.5s;
    margin:auto;
}

@keyframes size {
    0%{
        width:50px;
        height:50px;
        border:5px solid rgb(100, 41, 41);
    }
    25%{
        width:100px;
        height:100px;
        border:5px dotted rgb(142, 129, 129);
    }
    50%{
        width:150px;
        height:150px;
        border:5px dashed rgb(69, 17, 17);
    }
    75%{
        width:200px;
        height:200px;
        border:5px outset rgb(164, 111, 18);
    }
    100%{
        width:250px;
        height:250px;
        border:5px inset rgb(203, 221, 12);
    }
    
}

@keyframes photo_changer {
    0%{

    }
    25%{
        background:url(../photos/anim1/1.jpg);
    }
    50%{
        background:url(../photos/anim1/2.jpg);
    }
    75%{
        background:url(../photos/anim1/3.jpg);
    }
    100%{
        background:url(../photos/anim1/4.jpg);
    }
    
}
#anim2-container{
    width:400px;
    height:400px;
    margin:auto;
}
.child-one {
    margin:20px;
    animation-name: circle-to-square;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in;
    display:inline-block;
    border-radius: 50%;
}

.child-two {
    margin:20px;
    animation-name: circle-to-square;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in;
    display:inline-block;
}

@keyframes circle-to-square {
    from {
      width: 50px;
      height: 50px;
      background-color: #F498AD;
      border-radius: 50%;
    }
    50% {
      width: 50px;
      height: 200px;
      background-color: #7F6EDB;
      border-radius: 25%;
    }
    to {
      width: 200px;
      height: 200px;
      background-color: #2E9AFF;
      border-radius: 0%;
    }
  }